.App {
  
    margin: 0;
    padding: 0;
}


/*.wrapper {
    padding: 5vh 1rem;
    min-height: 80vh;
    background: linear-gradient(
      to right,
      rgba(207, 48, 48, 0.35) 20%,
      rgba(0, 0, 0, 0.85)
    );
}*/